<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "static/app.css">
    <script src="https://unpkg.com/axios/dist/axios.js" defer ></script>
    <script type = "text/javascript" src = "static/homePage.js" defer ></script>
    <title>LotPick</title>
</head>
<nav class = "navbar">
    <h1 class = "text-light" style="padding-left: 2rem;">LotPick</h1>
    <div class="dropdown">
        <button class="dropbtn text-secondary">{{user}}</button>
        <div class="dropdown-content">
          <a href="#">Settings</a>
          <a href="#">My Numbers</a>
          <a href="#">Winning Numbers</a>
          <a href="/">Logout</a>
        </div>
      </div>
</nav>
<body>

    <div class = "numberBox">
        <p class = "text-center">hello</p>
    </div>
    
    <div class = "container">
        
        <div class = "generatorBox">
            
            
            
            <div class = "dropdown2">
                <button class = "country"> Select Country </button>
                <div class="dropdown-content2">
                
                </div>

            </div>


            <div class = "gameDropDown">
                <button class = "game">Select Game</button>
                <div class = "gameDropDown-content">
                    
                </div>
            </div>

            <div class = "generateDropDown">
                <button class = "generate"> Generate Number</button>
            </div>
            
        </div>
    </div>
 

    
</body>
</html>